<div class="well">
  <div class="form-group">
    <h2>Enter a zipcode or city name:</h2>
    <app-autocomplete
      [filteredOptions]="foundZipcodes.value()"
      placeholder="Zipcode or city name"
      [(query)]="queryOrZipcode"
      (selected)="addLocation($event.id)"
    ></app-autocomplete>

    <br />
    <button
      [disabled]="queryOrZipcode().length <= 0"
      class="btn btn-primary"
      (click)="addLocation(queryOrZipcode())"
    >
      Add location
    </button>
  </div>
</div>
