<div class="position-relative" style="max-width: 400px">
  <input
    type="text"
    class="form-control"
    [formControl]="queryInput"
    [placeholder]="placeholder()"
  />

  @if(showDropdown()){
  <ul
    class="list-group position-absolute w-100 zindex-dropdown"
    style="max-height: 200px; overflow-y: auto"
  >
    @for(option of filteredOptions(); track option.id){
    <li
      (click)="onSelect(option)"
      class="list-group-item list-group-item-action"
    >
      {{ option.description }}
    </li>
    }
  </ul>
  }
</div>
